src/__pycache__/

# dataset
/ModelNet40*/
# RGBD dataset
/RGBD_ModelNet40*/

# vitual environment for the project
/MP-project-venv/
# script used to make running python from the virtual environment easier
py_alias.sh

*.zip
*.png
